<!-- *** INTRO IMAGE *** -->
<div id="intro" class="clearfix">
  <div class="item">
    <div class="container-fluid" id="intro-text">
      <div class="row">
        <h1 class="wow fadeInDown animated">Welcome to Prestatario!</h1>
        <div class="col-md-6 col-md-offset-3">
          <h4 class="wow fadeInUp animated">The best website for keeping track of tools you lend and borrow!</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- *** SERVICES *** -->
<div class="section" id="section1">
  <div class="container">
    <div class="col-md-12">
      <h2 class="title wow fadeInDown animated">Why Prestatario?</h2>
      <p class="lead wow fadeInDown animated">Prestatario offers best in class services backed by a growing user base to facilitate all of your tool sharing needs!</p>
      <div class="row services">
        <div class="col-md-4 wow fadeInLeft animated">
          <div class="icon"><i class="fa fa-users"></i>
          </div>
          <h3 class="heading">Ever growing user base</h3>
          <p>Prestatarios growing user base assures you will always be able to borrow the tools you need. </p>
        </div>

        <div class="col-md-4 wow fadeInLeft animated">
          <div class="icon"><i class="fa fa-exchange"></i>
          </div>
          <h3 class="heading"> Easy to use messaging </h3>
          <p>Prestatario offers an in app messaging service which makes it easier than ever to share tools. </p>
        </div>

        <div class="col-md-4 wow fadeInLeft animated">
          <div class="icon"><i class="fa fa-usd"></i>
          </div>
          <h3 class="heading">Free to use </h3>
          <p> Prestatario offers its base services free to all users. </p>
        </div>

      </div>
      <div class="row services">

        <div class="col-md-4 wow fadeInRight animated">
          <div class="icon"><i class="fa fa-lock"></i>
          </div>
          <h3 class="heading">safe and secure</h3>
          <p>Prestatario's responsive web app makes sharing tools safe and secure.</p>
        </div>

        <div class="col-md-4 wow fadeInRight animated">
          <div class="icon"><i class="fa fa-desktop"></i>
          </div>
          <h3 class="heading">Responsive web app</h3>
          <p> Prestatario's responsive web app makes sharing tools fun and easy. </p>
        </div>

        <div class="col-md-4 wow fadeInRight animated">
          <div class="icon"><i class="fa fa-heart-o"></i>
          </div>
          <h3 class="heading">Dedicated support team</h3>
          <p>Our dedicated support team is available 24/7 to help all your sharing needs. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- *** ABOUT US *** -->
<div class="section  text-gray" id="section2">
  <div class="container">
    <div class="col-md-12 ">
      <h2 class="title wow zoomIn animated" >About us</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="text-large text-thin wow fadeInLeft animated">Five quacking zephyrs jolt my wax bed. Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. </p>
          <p class="text-large text-thin margin-bottom wow fadeInLeft animated">A very bad quack might jinx zippy fowls. Few quips galvanized the mock jury box. Quick brown dogs jump over the lazy fox. The jay, pig, fox, zebra, and my wolves quack! Blowzy red vixens fight for a quick jump. Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps quickly in fog. Watch "Jeopardy!", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz.</p>
          <p class="img-circle img-responsive wow fadeInRight animated" id="profile-pic">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- *** CONTACT *** -->
<div class="section" id="section3" >
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title wow fadeInDown animated">Contact us</h2>
      <p class="lead margin-bottom wow fadeInUp animated">We are open to all inquiries and feedback! Please contact use either through the email address or phone number listed below.  </p>
      <ul class="list-unstyled text-large text-thin wow fadeInUp animated">
        <li><strong>E-mail:</strong> alejandroj1234@gmail.com</li>
        <li><strong>Phone:</strong> 301-302-6920</li>
      </ul>
    </div>
  </div>
</div>

