    /*********************GENERAL BODY CSS*****************************************/
#main-container {
    margin-top: 20px;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    padding-bottom: 150px;
}

#devise-body, #main-content-body{
    font-family: 'Raleway', sans-serif;
}


/*************************************ERROR ALERTS CSS **********************************/
.alert{
    margin-bottom: 0px !important;
}

#alert-danger{
    text-align: center;
}


/********************* DEVISE VIEWS***********************/
#landing-page-devise {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.border-form-div {
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div header h2,h1 {
    text-align: center;
}

.border-form-div form div div a {
    color: #7386D5;
}
.border-form-div form a {
    color: #7386D5;
}

.form-control:focus {
    border-color: #7386D5 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.btn-primary {
    background-color: #e7e7e7 !important;
    border: 2px solid #e5e5e5 !important;
    color: #777 !important;
}
.btn-primary:hover {
    border: solid 1px #7386D5 !important;
    background-color: #e7e7e7 !important;
    font-weight: bold !important;
}
/******************************* END OF DEVISE VIEWS************************/


/************************ SIDE BAR ***************************/
#sidebar ul li a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar div {
    background-color: #e7e7e7;
}
#sidebar div a {
    color: #777;
    margin: auto;
    text-align: center;

}
#sidebar div a:hover {
    border: solid 1px #7386D5;
    background-color: #e7e7e7;
    font-weight: bold;
}
/************************ END OF SIDE BAR ***************************/





/*********************************** LANDING PAGE ***********************************/

/*************************** SECTIONS *************************/
.section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.section:before,
.section:after {
    content: " ";
    display: table;
}
.section:after {
    clear: both;
}
.section:before,
.section:after {
    content: " ";
    display: table;
}
.section:after {
    clear: both;
}
.section h2.title {
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 0;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.section h2.title span {
    font-size: 40px;
}
.section .img-responsive {
    margin: 0 auto;
}
.section .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.section .inline-title {
    display: inline-block;
    padding: 10px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    text-transform: uppercase;
}
.text-narrow p {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 40px;
}
.text-gradient {
    background: #2e723e;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #2e723e 0%, #60a470 100%);
    background-image: linear-gradient(to bottom, #2e723e 0%, #60a470 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e723e', endColorstr='#ff60a470', GradientType=0);
}
.text-gradient h2 {
    border-color: #fff;
}
.text-gray {
    background: #f7f7f7;
}

.text-parallax {
    padding-top: 120px;
    padding-bottom: 120px;
    -webkit-backface-visibility: hidden;
}
p.lead {
    font-size: 30px;
    font-weight: 100;
}
.text-thin {
    font-weight: 300;
}
.margin-bottom {
    margin-bottom: 40px !important;
}


/******************************* intro picture ******************************/
#intro {
    position: relative;
    width: 100%;
    min-height: 600px;
    text-align: center;
    color: #fff;
}

#intro .item {
    min-height: 100vh;
    background: url('../../assets/images/Tool-Wall.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    padding-top: 200px;
    padding-bottom: 120px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#intro .item h1 {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 900;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-backface-visibility: hidden;
}

#intro .item h4 {
    color: #fff;
    margin-bottom: 120px;
    font-weight: 300;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-backface-visibility: hidden;
    line-height: 2;
    font-size: 40px;
}


/**********************************  SERVICES  **********************************************/
.services {
    margin-top: 80px;
    text-align: center;
}
.services .icon {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: solid 1px #999;
    font-size: 30px;
    line-height: 120px;
    text-align: center;
    margin: 0 auto;
    color: #999;
}
.services .heading {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 900;
    margin-bottom: 20px;
}
.services p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 60px;
}
.fa {
    color: #7386D5;
}

/**************************** CONTACT **************************************/
.contact {
    background: #fff;
}
.contact form {
    margin-top: 40px;
}
.contact form input,
.contact form textarea {
    margin-top: 20px;
}
#profile-pic {
    min-height: 30vh;
    max-width: 30vh;
    background: url('../../assets/images/alejandro-pic.png') center center no-repeat;
}


/*************************** footer ***************************************/
#footer {
    background: #e7e7e7;
    font-size: 12px;
    height: 50px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0 ;
    border-top: 1px solid transparent;
}
#footer ul {
    margin-top: 15px;
}
#footer ul li a {
    color: #7386D5;
}

/****************** NAVBAR ***********************************/
.navbar {
    font-family: Roboto, sans-serif;
    min-height: 80px;
    margin-bottom: 0px;
    border-bottom: 1px solid transparent;
    border: none;
    height: 80px;
    margin-bottom: 0px !important;
}
.navbar ul.nav > li > a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
    font-weight: bold;
    border-top: solid 3px transparent;
}
navbar-nav > li > a {
    padding-top: 25px;
}
.navbar ul.nav > li > a:hover {
    border-top: solid 3px #7386D5;
    background-color: #e7e7e7;
}
.navbar ul.nav > li > a {
    height: 80px;
    padding-top: 25px;
}
.navbar ul.nav > li.open > a {
    text-decoration: none !important;
    height: 80px;
    padding-top: 25px;
}
#navbar-brand {
    float: left;
    padding: 30px 15px;
    color: #7386D5;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    height: 80px;
    letter-spacing: 0.1em;
}
#navbar-brand:hover,
#navbar-brand:focus {
    text-decoration: none;
}
.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-collapse.in {
    overflow-y: auto;
}
.navbar-toggle {
    padding: 9px 10px !important;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 15px;
    border-radius: 0;
}
.navbar-nav {
    margin: 15px -15px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}


/****** CSS FOR ADD/UPDATE TOOL FORM *******************/
.float-label-control { position: relative; margin-bottom: 1.5em; }
.float-label-control ::-webkit-input-placeholder { color: transparent; }
.float-label-control :-moz-placeholder { color: transparent; }
.float-label-control ::-moz-placeholder { color: transparent; }
.float-label-control :-ms-input-placeholder { color: transparent; }
.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill { background-color: transparent !important; -webkit-box-shadow: 0 0 0 1000px white inset !important; -moz-box-shadow: 0 0 0 1000px white inset !important; box-shadow: 0 0 0 1000px white inset !important; }
.float-label-control input, .float-label-control textarea, .float-label-control label { font-size: 1.3em; box-shadow: none; -webkit-box-shadow: none; }
.float-label-control input:focus,
.float-label-control textarea:focus { box-shadow: none; -webkit-box-shadow: none; border-bottom-width: 2px; padding-bottom: 0; }
.float-label-control textarea:focus { padding-bottom: 4px; }
.float-label-control input, .float-label-control textarea { display: block; width: 100%; padding: 0.1em 0em 1px 0em; border: none; border-radius: 0px; border-bottom: 1px solid #aaa; outline: none; margin: 0px; background: none; }
.float-label-control textarea { padding: 0.1em 0em 5px 0em; }
.float-label-control label { position: absolute; font-weight: normal; top: -1.0em; left: 0.08em; color: #aaaaaa; font-size: 0.85em; -moz-animation: float-labels 300ms none ease-out; -webkit-animation: float-labels 300ms none ease-out; -o-animation: float-labels 300ms none ease-out; -ms-animation: float-labels 300ms none ease-out; -khtml-animation: float-labels 300ms none ease-out; animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/ animation-play-state: running !important; -webkit-animation-play-state: running !important; }
/* I dont think the lines below are needed */


/************ CSS FOR BUTTONS *********************/
#header-button {
    margin-top: 20px;
}

.dropdown-menu {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/********** CSS FOR MAPS ********************/
agm-map {
    height: 300px;
}
