<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline pull-left">
          <li><a>prestatario.com</a></li>
          <li><a>Blogs</a></li>
          <li><a>Careers</a></li>
          <li><a>Support</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-inline pull-right">
          <li><a>Terms of Service</a></li>
          <li><a>Privacy</a></li>
          <li><a>Cookies</a></li>
          <li>© Copyright 2017. All Rights Reserved.</li>
        </ul>
      </div>
    </div>
  </div>
</div>